# A .gitignore for Keil projects.
# Taken mostly from http://www.keil.com/support/man/docs/uv4/uv4_b_filetypes.htm

*.bat

Hardware/CanStepDriverPowerstep/History
Hardware/CanStepDriverPowerstep/__Previews
Hardware/CanStepDriverPowerstep/Project Logs for CanStepDriverPowerstep

Hardware/CanStepDriverMosfets/History
Hardware/CanStepDriverMosfets/__Previews
Hardware/CanStepDriverMosfets/Project Logs for CanStepDriverMosfets

Hardware/DeviceSheets/History
Hardware/DeviceSheets/__Previews
Hardware/DeviceSheets/*.LOG

LowLevel/CanStepDriverPowerstep/build
LowLevel/CanStepDriverMosfets/build

.vs
build
.cortex-debug.registers.state.json

# gitignore for cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Testing

# User-specific uVision files
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*

# Listing files
*.cod
*.htm
*.i
*.lst
*.map
*.m51
*.m66
# define exception below if needed
*.scr

# Object and HEX files
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.o
*.a
*.sbr
